body{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.container{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    
    position:relative;
}