body{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.container{
    margin-left: 52px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    /* flex-wrap: wrap;*/
    width: 960px;
    height: 960px; 
    
    position:relative;
}