h1{
    text-align: center;
}
.Game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
button{
    background-color: #3882F6;
    height: 42px;
    width: 134px;
    border-radius: 10px;
    color: white;
}
.result{
    padding: 30px;
}