body{
    align-items: center;
}
.num{
    width: 85px;
    height: 85px;
    border: 1px solid black;
}
.zero{
    width:170px;
    height: 85px;

}
.zeros{
    width: 255px;
    height: 85px;
    display: flex;
    flex-direction: row;
    
}
.cal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    width: 340px;
    height: 85px;
    border: 1px solid black;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nums{
    width: 255px;
    height: 340px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.operators{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#add{
    width: 85px;
    height: 170px;
}
#equal{
    width: 85px;
    height: 170px;
}
#op{
    width: 85px;
    height: 85px;
    border: 1px solid black;
}