body{
    align-items: center;
    background-color: rgb(159, 241, 127);
}
.num{
    width: 85px;
    height: 85px;
    border: 1px solid black;
}
.zero{
    width:170px;
    height: 85px;

}
.zeros{
    width: 255px;
    height: 85px;
    display: flex;
    flex-direction: row;
    
}
.cal{
    display: flex;
    height: 510px;
    width: 340px;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid rgb(255, 251, 0);
}
.display{
    display: flex;
    width: 320px;
    height: 85px;
    border: 1px solid black;
    font-size: 30px;
    align-items: center;
    justify-content: flex-end;
    overflow-y: hidden;      
    white-space: nowrap;     
    padding: 0 10px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nums{
    width: 255px;
    height: 340px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.operators{
    height: 425px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

}
.op{
    width: 85px;
    height: 85px;
    border: 1px solid black;
}
.bigbtns{
    width: 85px;
    height: 170px;
}
#equal{
    width: 85px;
    height: 170px;
}
#del{
    width: 85px;
    height: 85px;
    border: 1px solid black;
}
