body{
    align-items: center;
}
#box{
    width: 80;
    height: 80;
    border: 1px solid black;
}
.cal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    width: 390;
    height: 90;
    border: 1px solid black;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nums{

}